.section-navigation {
    width: 70%;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
    video {
        width: 90%;
        position: absolute;
        top: 80px;
        left: 5%;
        box-sizing: border-box;
        background: url('../images/imac2.png') center center no-repeat;
        background-size: contain;
        padding: 2.4% 3.8% 16.6%;
    }
    .box-info-web-site {
        margin-top: 86%;
        margin-bottom: 10%;
        position: relative;
        h4 {
            border-bottom: 2px solid $color-red;
        }
        p {
            font-size: 1.4em;
            line-height: 1.4em;
        }
    }
    @media screen and (max-width: map-get($mq-breakpoints, mobile)) {
        width: 95%;
        .box-info-web-site {
        margin-top: 94%;
         }
    }
}
